mp-header {
  header {
    .navbar-brand {
      padding: 6px 15px;
      img {
        max-height: 40px;
      }
    }

    mp-cart-header-entry {
      display: inline-block;
      cursor: pointer;
    }
  }
}
