<div class="product">
  <div class="thumbnail card" [routerLink]="['/catalog/product', product.id]">
    <img [src]="imageBasePath + product.image">
    <div class="caption card-body">
      <h4 class="card-title">
        <a [routerLink]="['/catalog/product', product.id]">{{product.title | titlecase}}</a>
        <strong class="float-right">{{product.price | currency:'EUR'}}</strong>
      </h4>
      <div class="ratings card-text">
        <p class="float-right" mpHighlighter="yellow">{{product.review}} reviews</p>
        <p><span *ngFor="let rate of rateRange(product.rating)" class="bi bi-star-fill"></span></p>
      </div>
    </div>
  </div>
</div>
