<h1>Catalogue</h1>
<div class="row">
  <div class="form-inline float-right">
    <label>
      <span>Filtrer par prix</span>
      <select (change)="minPrice = $event.currentTarget.value" class="form-control">
        <option value="0">Tous</option>
        <option value="1000"> à partir de 1000 €</option>
        <option value="2000"> à partir de 2000 €</option>
      </select>
    </label>
  </div>
</div>
<hr/>
<mp-product-list [products]="products | greaterThanFilter:'price':minPrice"></mp-product-list>
